body 
{
    font-family: MS PGothic, Calibri, Verdana, Arial, Helvetica, sans-serif;	
}

p
{
    text-align: justify;	
}

h1
{
    color: #3333ff;
}

a:link, a:visited, a:active
{	
    color: blue;
    text-decoration: none;
}

a:hover
{
    color: red;
}

.inlinecode
{
    font-family: monospace;
    color: darkred
}