<?xml version="1.0" encoding="utf-8"?>
<jnlp codebase="http://downloads.kotem.hu/ddoc/" href="$outputFile" spec="1.0+">
 <information>
    <title>DistributedDocumentor</title>
    <vendor>Daniel Vigovszky</vendor>
    <homepage href="https://bitbucket.org/vigoo/distributed-documentor/"/>
    <description kind="one-line">DistributedDocumentor</description>
    <description kind="short">DistributedDocumentor</description>
    <offline-allowed/>
 </information> 
 <update check="always" policy="prompt-run"/>
 <security>
    <all-permissions/>
 </security>
 <resources>
    <j2se version="1.6+" initial-heap-size="128m" max-heap-size="1024m" java-vm-args="-Dapple.laf.useScreenMenuBar=true" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>
